<ion-view view-title="Payments">
  <ion-content class="padding">
      <!-- <braintree-paypal></braintree-paypal> -->

      <form id="checkout--form" ng-submit="createCC();" method="post">
        <input data-braintree-name="number" placeholder="4111111111111111" ng-model="creditCard.number">
        <input data-braintree-name="cvv" placeholder="cvv:100" ng-model="creditCard.cvv">

        <!-- you can also split expiration date into two fields -->
        <input data-braintree-name="expiration_month" placeholder="month:10" ng-model="creditCard.expirationDate.month">
        <input data-braintree-name="expiration_year" placeholder="yr:2020" ng-model="creditCard.expirationDate.year">

        <input data-braintree-name="postal_code" placeholder="zip:94107" ng-model="creditCard.zip">
        <input data-braintree-name="cardholder_name" placeholder="name:John Smith" ng-model="creditCard.name">

        <input type="submit" id="submit" value="Submit/Update Credit Card">
      </form>


     <!--  <input
        ng-model="creditCard.number"
        placeholder="4111111111111111"
        />

      <input
        ng-model="creditCard.expirationDate"
        placeholder="10/18"
        />

      <input
        type="submit"
        value="Enter Card"
        ng-click="createCC()"
        />

    </div> -->
  </ion-content>
</ion-view>
