<ion-view view-title="Home" id="splash">
  <ion-content class="padding">

    <h1 id="splash--h1">Quantum</h1>

    <img id="logo" src="../img/logo.png">

    <label class="item item-input">
      <input type="email" ng-model="userInfo.email" placeholder="enter email">
    </label>

    <label class="item item-input">
      <input type="password" ng-model="userInfo.password" placeholder="enter password">
    </label>

    <div class="list" id="register--type">
      <label class="item item-radio">
        <input type="radio" name="register__type" ng-click="buttonChoiceCu();" value="customer">
        <div class="item-content">
          Customer
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="register__type" ng-click="buttonChoiceRe();" value="restaurant">
        <div class="item-content">
          Restaurant
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>

    <button class="splash--next" ng-click="signIn();">Next</button>

    <div class="list" style="text-align:center">
      <button ng-click="modal.show()" class="button button-small button-outline icon-left ion-person-add button-positive" id="create--user">
          Signup
      </button>
    </div>



  </ion-content>
</ion-view>

<!-- ui-sref="customer.home"
ui-sref="restaurant.home" -->
